@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

html {
    height: 100%;
}

body{
    font-size: 1.3em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}